.filter {
  padding: 20px;
  border-radius: 10px;
  position: sticky;
  top: 1%;
}

.filterGroup {
  margin-bottom: 20px;
}

.filterGroup h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.filterGroup label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.priceFilter {
  display: flex;
  gap: 10px;
}

.priceFilter input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
